
.booking_body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

.booking-body button {
    background-color: green;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 20px;
}

.table-container {
    background-color: hsl(0, 0%, 89%);
    width: 80%; 
    min-width: 720px;
    border: 2px solid; 
    border-radius: 10px;
    padding: 10px; 
    padding-bottom: 30px;
    color: white;
    margin: auto;
    font-size: 30px;
}

.text-green {
    color: green;
}

.green-container1 {
    background-color: green;
    border: 2px; 
    border-radius: 10px;
    width: 80%;
    min-width: 720px;
    margin: auto;
    margin-top: 10%;
    padding-top: 55px;
}
.green-container2 {
    background-color: green;
    border: 2px; 
    border-radius: 10px;
    width: 80%;
    min-width: 720px;
    margin: auto;
    padding-bottom: 35px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container2-text {
    font-size: 30px;
    color: white;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-radius: 10px;
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.btn-container{
    display: flex;
    align-items: center;
    gap: 20px;
}

.counter {
    display: flex;
    justify-content: space-between;
}
.increment-btn {
    height: 40%;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 20px;
}
.decrement-btn {
    height: 40%;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 20px;
}
.count-display {
    font-size: 25px;
}

.select-time {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.unbutton {
    display: flex;
    justify-content: center;
    gap: 10px;
    width: 30%;
    background: white;
    border: 0.5px solid grey;
    padding: 5px;
    cursor: pointer;
    border-radius: 5px;
    margin-bottom: 5px;
}

.submitTime-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.submitTime{
    width: 30%;
    height: 20%;
    background-color: green;
    border-radius: 5px;
    padding: 5px;
    font-weight: bold;
    color: white;
}

.time-selected{
    background-color: green;
    color: white;
}

.input-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.input-group label {
    float: left;
    width: 40%;
    font-size: 30px;
}

.input-group input {
    width: 60%; 
}

.submitPassengerBtn{
    margin-left: 50%;
    background-color: green;
    color: white;
    font-weight: bold;
    font-size: large;
    border-radius: 5px;
    padding: 20px;
}

.passengerContainer {
    display: flex;
    justify-content: space-between; 
    gap: 10%;
    border: solid 1px grey;
    margin: 10px;
    margin-top: 5%;
    border-radius: 5px;
}

.journeyTitle {
    color: green;
    margin-left: 5px;
    text-align: center;
}

.returnTitle{
    font-size: 30px;
    font-weight: bold;
    color: green;
    margin-left: 5px;
    text-align: center;
}

.journeybox {
    color: white;
    font-weight: bold;
    background-color: green;
    margin-left: 8px;
}
.journeybox p,h3 {
    font-size: 30px;
}

.journeyBoxParent {
    background-color: green;
}

.passengerFormBox {
    width: 100%; 
    margin-right: 10%;
    color: green;
    font-weight: bold;
}

.passengerFormTitle{
    font-weight: bolder;
    color: darkgreen;
}

.paymentChoice {
    color: darkblue;
    font-weight: bold;
    width: 15%;
}

.payment-group{
    display: flex;
    justify-content: center;
    row-gap: 10%;
    column-gap: 10%;
    align-items: center;
    border: solid 1px grey;
    border-radius: 10px;
    width: 60%; 
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}
.payment-group p{
    display: flex;
    font-size: 30px;
    font-weight: bold;
    width: 40%;
    height: 30%;
}

.credit-image {
    max-height: 30%;
    max-width: 10%;
}

.debit-image {
    max-height: 30%;
    max-width: 10%;
}

.paypal-image {
    max-height: 30%;
    max-width: 10%;
}

.payment-button{
    margin-top: 2%;
    display: block; /* Ensures the element is block-level */
    margin-left: auto;
    margin-right: auto;
    background-color: green;
    color: white;
    font-weight: bold;
    font-size: large;
    border-radius: 5px;
    padding: 20px;
}

.paySelectContainer{
    display: flex;
    justify-content: center;
    gap: 10px;
    width: 100%;
}
.paySelectContainer label{
    font-size: 30px;
    font-weight: bold;
    text-align: left;
    width: 25%;
    min-width: 350px;
    white-space: nowrap;
}
.paySelectContainer input{
    width: 30%;
    min-width: 200px;
    height: 30px;
}

.journeyComplete{
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    font-weight: bold;
    font-size: 30px;
    margin-top: 10%;
    color: darkgreen;
}
.journeyComplete img{
    width: 20%;
    min-width: 300px;
    height: auto;
}