
.contactBox {
    width: 100%;
    margin-left: 20%;
    margin-right: 10%;
    margin-top: 10%;
    font-size: 30px;
}

.contactForm {
    width: 100%; 
    margin-right: 10%;
}

.input-group2 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
.input-group2 label {
    float: left;
    width: 40%;
    font-size: 30px;
}
.input-group2 input {
    width: 60%; 
    margin-right: 30%;
}
.input-group2 textarea {
    width: 60%; 
    margin-right: 30%;
}

.submitContactBtn{
    margin-left: 50%;
    margin-top: 2.5%;
}