.background-home {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("/images/Green_bus.jpg");
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    
}

.home-main {
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    background-color: white;
    border-radius: 10px;
    padding: 3%;
}

.home-main-title {
    font-weight: bolder;
    color: green;
    font-size: 40px;
    font-family: 'comic sans ms';
    text-shadow: 2px 2px 2px black;
}

.home-main-body {
    font-size: 20px;
    color: rgb(3, 180, 3);
    text-align: center;
    font-weight: bold;
    font-family: 'comic sans ms';
}

.home-main-Book {
    margin-top: 2%;
    text-decoration: none;
    font-size: 60px;
    background-color: greenyellow;
    color: white;
    border-radius: 10px;
    font-weight: bolder;
    font-family: 'comic sans ms';
    text-shadow: 2px 2px 2px darkgreen;
    padding: 2px;
};
